.paginator {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0;
    background-color: white;
    min-height: 435px;
}

.table {
    table-layout: auto;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

.tagle thead tr,
.table tbody tr {
    border-bottom: 1px solid gray;
}

.table td,
.table th {
    text-align: initial;

}

.table th {
    font-size: 14px;
}

.table td {
    font-size: 14px;
    color: #1f1e1e;
}

.table tr.selected {
    background: #f2f0f0;
}

.table tbody .editing td input {
    background-color: rgba(231, 108, 168, 0.468);
}

td input[type="checkbox"],
th input[type="checkbox"] {
    margin-left: 20px;
}

td input {
    border: none;
    text-decoration: none;
    outline: none;
    padding: 6px;
    margin: 2px;
    background-color: transparent;
}

.paginator .tail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 6px;
    gap: 8px;
}

.action-buttons button {
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.delete {
    color: red;
}

.save {
    color: green;
}

.button-delete {
    background-color: rgba(235, 69, 155, 0.981);
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.button-delete:hover {
    background-color: rgba(195, 36, 118, 0.981);
    cursor: pointer;
}

.button-delete:disabled {
    background-color: whitesmoke;
    color: #2a2929;
}

.row-selected {
    background-color: rgb(233, 231, 231);
}