.paginator {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    background-color: white;
}

.table {
    table-layout: auto;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

.table td,
.table th {
    text-align: initial;
    padding: 8px;
    border-bottom: 1px solid gray;
}

.table th {
    font-size: 14px;
}

.table td {
    font-size: 14px;
    color: #1f1e1e;
}

.table tr.selected {
    background: #f2f0f0;
}

td input[type="checkbox"],
th input[type="checkbox"] {
    margin-left: 20px;
}

td input {
    border: none;
    text-decoration: none;
    outline: none;
}

.paginator .tail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.button-delete {
    background-color: rgba(235, 69, 155, 0.981);
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.button-delete:hover {
    background-color: rgba(195, 36, 118, 0.981);
    cursor: pointer;
}